# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Transpiled JavaScript files
# Waiting for https://github.com/facebook/create-react-app/issues/8908
# *.js
# *.js.map

# Build directory
.next/
/out/

# Next.js static exportस्ड output files
next-env.d.ts
.DS_Store
*.pem

# Firebase
.firebase
firebase-debug.log
*.pid
*.seed
*.log
*.log.txt

# Environment variables
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local

# SQLite database files
db/
*.db
*.db-journal
